# Git files
.git
.gitignore
.gitmodules
.github

# Weights 
.cache


# Env
.venv

# Python cache
__pycache__
*.pyc
*.pyo

# Development files
.vscode
.idea

# Documentation
*.md
README*

# Sample/test videos (kept in repo for testing but not in Docker)
sample_data/*